@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Acafac+Flux&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif;
}

p {
  font-family: 'Acafac Flux', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

/* globals.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full height */
}

main {
  flex-grow: 1; /* Make main grow to push footer down */
}

footer {
  position: relative; /* Make sure footer is in the document flow */
}